@tailwind base;
@tailwind components;
@tailwind utilities;

html, body, #__next {
  height: 100%;
}

body {
  @apply bg-white text-gray-800 antialiased;
  font-family: Inter, ui-sans-serif, system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial;
  margin: 0; /* pastikan ga ada margin default */
  padding: 0;
}

/* utility untuk card */
.section-card {
  @apply bg-white rounded-2xl shadow-md p-6;
}

/* animasi foto smooth floating */
@keyframes floating {
  0% { transform: translateY(0px); }
  50% { transform: translateY(-10px); } 
  100% { transform: translateY(0px); }
}
.animate-floating {
  animation: floating 5s ease-in-out infinite;
}
